<header class="layout-topbar">
  <div class="layout-topbar-left">
    <p-button
      icon="pi pi-bars"
      [text]="true"
      styleClass="topbar-menu-button"
      (onClick)="onToggleMenu()"
    />
    <h1 class="layout-title">ProAliTech</h1>
  </div>

  <div class="layout-topbar-right">
    <button
      type="button"
      pButton
      pRipple
      class="theme-toggle-button"
      [icon]="themeService.theme() === 'dark' ? 'pi pi-sun' : 'pi pi-moon'"
      (click)="onToggleTheme()"
      severity="secondary"
    ></button>

    <p-button
      label="Salir"
      icon="pi pi-sign-out"
      severity="danger"
      [outlined]="true"
      (onClick)="onLogout()"
    />
  </div>
</header>
